<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Leave Type</th>
            <th scope="col">Balance</th>
            <th scope="col">Availed</th>
            <th scope="col">Available</th>
            <th scope="col">pending</th>

        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let e of posts?.data "> -->
        <tr>

            <td>{{requests?.leavetype}}</td>

            <td>{{requests?.balance}}</td>
            <td>{{requests?.availed}}</td>
            <td>{{requests?.available}}</td>
            <td>{{requests?.pending}}</td>


        </tr>

    </tbody>
</table>