<h1 *ngIf="message.length>0">{{message.length}}</h1>

<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Leave Type</th>
            <th scope="col">Total Leaves</th>
            <th scope="col">Availed</th>
            <th scope="col">Available</th>
            <th scope="col">Pending</th>

        </tr>
    </thead>
    <tbody>
        <tr>

            <td>{{requests?.leavetype}}</td>

            <td>{{requests?.balance}}</td>
            <td>{{requests?.availed}}</td>
            <td>{{requests?.available}}</td>
            <td>{{requests?.pending}}</td>


        </tr>

    </tbody>
</table>