<div infinite-scroll [infiniteScrollDistance]="distance" [infiniteScrollThrottle]="throttle" (scrolled)="onScroll()">
<div class="container">
    <div class="row">
        <div *ngFor="let user of this.allUsers let i = index " class="col-md-8">
            <div class="people-nearby">
                <div class="nearby-user">
                    <div class="row">
                        <div class="col-md-2 col-sm-2" *ngIf="userid != user?.recipient?.id">
                            <img class="img-fluid rounded-circle border border-white border-1" style="width: 130px;"
                                src="http://localhost:5000/{{user?.recipient?.userProfile[0]?.img?.profile_pic?.original}}">
                        </div>
                        <div class="col-md-2 col-sm-2" *ngIf="userid != user?.requester?.id">
                            <img class="img-fluid rounded-circle border border-white border-1" style="width: 130px;"
                                src="http://localhost:5000/{{user.requester?.userProfile[0]?.img?.profile_pic?.original}}">
                        </div>
                        <div class="col-md-7 col-sm-7" *ngIf="userid != user?.recipient?.id">
                            <h5><a class="profile-link">{{user.recipient.username}}</a></h5>
                            <p>Software Engineer</p>
                        </div>
                        <div class="col-md-7 col-sm-7" *ngIf="userid != user?.requester?.id">
                            <h5><a class="profile-link">{{user.requester.username}}</a></h5>
                            <p>Software Engineer</p>
                        </div>
                        <div *ngIf="user.status===1" class="col-md-3 col-sm-3">
                            <button class="btn btn-primary pull-right ">
                                pending</button>
                        </div>
                        <div *ngIf="user.status===3 && userid != user?.recipient?.id" class="col-md-3 col-sm-3">
                            <button routerLink="/message/{{user.recipient._id}}" class="btn btn-primary pull-right ">
                                message</button>
                        </div>
                        <div *ngIf="user.status===3 && userid != user?.requester?.id" class="col-md-3 col-sm-3">
                            <button routerLink="/message/{{user.requester._id}}" class="btn btn-primary pull-right ">
                                message</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>