<form [formGroup]="qualifiactionForm" class="container   mt-3" (ngSubmit)="ngsubmit()">
    <div class="col-md-12 container post_data">

        <div class="form_tag"> <strong><i class="fa fa-user icon"></i>Personal Experience </strong>
            <hr class="mt-10">
        </div>
        <div class="row mt-5">
            <div formArrayName="experience">
                <ng-container *ngFor="let skill of formArray['controls'] ;index as i" [formGroupName]="i">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Company Name</label>
                                <input type="companyName" id="companyName{{i}}" class="form-control"
                                    formControlName="companyName" placeholder="Enter Name">

                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Start Date</label>
                                <input type="date" id="startDate{{i}}" class="form-control" formControlName="startDate"
                                    placeholder="Enter Class">
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group">
                                <label for="endDate">End Date</label>
                                <input type="date" id="endDate{{i}}" class="form-control" formControlName="endDate"
                                    placeholder="Enter R.NO">
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group">
                                <label for="experiencCertification">Image</label>
                                <input type="text" id="experiencCertification{{i}}" class="form-control"
                                    formControlName="experiencCertification" placeholder="image">
                            </div>
                        </div>

                    </div>
                    <div *ngIf="i >0" class="col-2 py-2">
                        <button type="button" (click)="remove(i)" class="btn  btn-danger mt-2">remove</button>

                    </div>
                </ng-container>

                <button type="button" (click)="addExprience()" class="btn  btn-primary mt-2">+ Add</button>
            </div>
        </div>

        <div class="form_tag mt-5"> <strong><i class="fa fa-user icon"></i> Qualification </strong>
            <hr class="mt-10">
        </div>

        <!-- for qualification-->


        <div class="row mt-5">
            <div formArrayName="qualification">
                <ng-container *ngFor="let skill of qulaifactionArray['controls'] ;index as i" [formGroupName]="i">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">School Name</label>
                                <input type="schoolName" id="schoolName{{i}}" class="form-control"
                                    formControlName="schoolName" placeholder="EnterSchool Name">

                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Result Declar Date</label>
                                <input type="date" id="resultDeclar{{i}}" class="form-control"
                                    formControlName="resultDeclar" placeholder="Enter resukt Declar Date">
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group">
                                <label for="cgp">CGP</label>
                                <input type="text" id="cgp{{i}}" class="form-control" formControlName="cgp"
                                    placeholder="Enter cgp">
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group">
                                <label for="resultCard">Image</label>
                                <input type="text" id="resultCard{{i}}" class="form-control"
                                    formControlName="resultCard" placeholder="image">
                            </div>
                        </div>

                    </div>
                </ng-container>

                <button type="button" (click)="addQualification()" class="btn  btn-primary mt-2">+ add</button>
            </div>
        </div>


        <div class="form_tag mt-5"> <strong><i class="fa fa-user icon"></i>Certificate </strong>
            <hr class="mt-10">
        </div>
        <!-- for certification-->


        <div class="row mt-5">
            <div formArrayName="certification">
                <ng-container *ngFor="let skill of certificateArray['controls'] ;index as i" [formGroupName]="i">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">School Name</label>
                                <input type="schoolName" id="schoolName{{i}}" class="form-control"
                                    formControlName="schoolName" placeholder="Enter Name">

                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Certificate Image</label>
                                <input type="text" id="certificateImage{{i}}" class="form-control"
                                    formControlName="certificateImage" placeholder="Enter Class">
                            </div>
                        </div>

                    </div>
                </ng-container>

                <button type="button" (click)="addcertificate()" class="btn  btn-primary mt-2">+ add</button>
            </div>
        </div>

        <button type="submit" class="btn btn-primary form-group mt-2 mb-2">Submit</button>

    </div>
</form>