<div infinite-scroll [infiniteScrollDistance]="distance" [infiniteScrollThrottle]="throttle" (scrolled)="onScroll()">
    <div class="container">
        userProfile
        <div class="row">
            <div *ngFor="let user of allUsers let i = index " class="col-md-8">
                <div class="people-nearby">
                    <div class="nearby-user">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <img class="img-fluid rounded-circle border border-white border-1" style="width: 130px;"
                                    src="http://localhost:5000/{{user?.userProfile[0]?.img?.profile_pic?.original}}">

                            </div>
                            <div class="col-md-7 col-sm-7">
                                <h5><a class="profile-link">{{user.username}}</a></h5>
                                <p>Software Engineer</p>
                            </div>
                            <!-- *ngIf="user?.friends[0]?.status==0 || user?.friends[0]?.status==null && user?.friends[0]?.recipient !=userID" -->
                            <div class="col-md-3 col-sm-3">
                                <button class="btn btn-primary pull-right " (click)="addFriend(user._id)">Add
                                    Friend</button>
                            </div>
                            <!-- <div *ngIf="user?.friends[0]?.status==2 && user?.friends[0]?.recipient ===userID"
                            class="col-md-3 col-sm-3">
                            <button class="btn btn-primary pull-right ">
                                pending</button>
                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>